.sce-modal.sce-modal {
  cursor: pointer;
  position: absolute;
  z-index: 10000;
  top: 0;
  opacity: 0.98;
  left: 0;
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
  padding: 0;
}

.sce-modal pre {
  margin: auto;
  white-space: pre-wrap;
  padding: 5px;
  /* width: 100%;
  height: 100%; */
  font-size: xx-large;
}

.sce-modal-bottom {
  font-family: monospace;
  position: fixed;
  font-size: small;
  bottom: 0;
}

.sce-modal-top {
  font-family: monospace;
  position: fixed;
  font-size: small;
  top: 0;
}

.sce-embedded .sce-modal.sce-modal {
  height: 100%;
  width: 100%;
}

.sce-modal-top,
.sce-modal-bottom {
  text-align: center;
  width: 100%;
}

.sce-embedded .sce-modal-top,
.sce-embedded .sce-modal-bottom {
  position: relative;
}
